<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{admin/layouts/add_or_edit.html}">

<head>

</head>

<body>

    <!-- Add division to add-or-edit form fragment -->
    <div layout:fragment="addOrEdit_form">
        <form class="form-group" th:action="@{/admin/employees/save}" method="POST" th:object="${object}">
            <div th:if="${res.isEdit}">
                <label for="my-input">ID</label>
                <input id="my-input" class="form-control" type="text" th:value="*{id}" disabled>
                <input type="hidden" th:field="*{id}">
            </div>
            <label for="my-input">Tên nhân viên</label>
            <input id="my-input" class="form-control" type="text" th:field="*{name}">
            <label for="my-input">Vai trò</label>
            <select id="my-input" class="form-control" th:field="*{employeeRole.id}">
                <option th:each="er : ${employeeRoles}" th:value="${er.id}" th:text="${er.roleName}"></option>
            </select>
            <label for="my-input">Username</label>
            <div th:if="${res.isEdit}">
                <input id="my-input" class="form-control" type="text" th:value="*{username}" disabled>
                <input type="hidden" th:field="*{username}">
            </div>
            <div th:unless="${res.isEdit}">
                <input id="my-input" class="form-control" type="text" th:field="*{username}">
            </div>
            <label for="my-input">Password</label>
            <input id="my-input" class="form-control" type="password" th:field="*{password}">
            <label for="my-input">Số điện thoại</label>
            <input id="my-input" class="form-control" type="text" th:field="*{phone}">
            <label for="my-input">Địa chỉ</label>
            <input id="my-input" class="form-control" type="text" th:field="*{address}">
            <label for="my-input">Email</label>
            <input id="my-input" class="form-control" type="email" th:field="*{email}">
            <hr>
            <button type="submit" class="btn btn-primary">Lưu</button>
        </form>

    </div>

</body>

</html>