<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{admin/layouts/detail.html}">

<head>
	<title>Title</title>
</head>

<body>

	<!-- Add division to detail form fragment -->
	<div layout:fragment="detail_form">

		<table class="table table-light" th:object="${res.object}">
			<tbody>
				<th>Vai trò</th>
				<td></td>
			</tbody>
			<tbody>
				<th>ID</th>
				<td th:text="*{id}"></td>
			</tbody>
			<tbody>
				<th>Tên nhân viên</th>
				<td th:text="*{name}"></td>
			</tbody>
			<tbody>
				<th>Username</th>
				<td th:text="*{username}"></td>
			</tbody>
			<tbody>
				<th>Password</th>
				<td th:text="*{password}"></td>
			</tbody>
			<tbody>
				<th>Created At</th>
				<td th:text="*{createdAt}"></td>
			</tbody>
			<tbody>
				<th>Số điện thoại</th>
				<td th:text="*{phone}"></td>
			</tbody>
			<tbody>
				<th>Địa chỉ</th>
				<td th:text="*{address}"></td>
			</tbody>
			<tbody>
				<th>Email</th>
				<td th:text="*{email}"></td>
			</tbody>
			<tbody>
				<th>Avatar</th>
				<td th:text="*{avatarUrl}"></td>
			</tbody>
		</table>
		<a th:href="@{'/admin/employees/edit/' + ${res.object.id}}" class="btn btn-primary">Cập nhật nhân viên</a>
		<a th:href="@{'/admin/employees/delete/' + ${res.object.id}}" class="btn btn-primary">Xóa nhân viên</a>
	</div>

</body>

</html>