<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{admin/layouts/list.html}">

<head>

</head>

<body>
    <div layout:fragment="list_form">
        <table class="table table-bordered">
            <tbody>
                <th>Mã Nhân viên</th>
                <th>Tên nhân viên</th>
                <th>Vai trò</th>
                <th>Số điện thoại</th>
                <th>Địa chỉ</th>
                <th>Email</th>
                <th>Avatar</th>
                <th>Hành động</th>
            </tbody>
            <tbody th:each="e : ${res.pagedList}">
                <td th:text="${e.id}"></td>
                <td>
                    <a style="text-decoration: none; color: black;" th:href="@{'/admin/employees/' + ${e.id}}"
                        th:text="${e.name}">
                    </a>
                </td>
                <td th:text="${e.employeeRole.roleName}"></td>
                <td th:text="${e.phone}"></td>
                <td th:text="${e.address}"></td>
                <td th:text="${e.email}"></td>
                <td th:text="${e.id}"></td>
                <td>
                    <a th:href="@{'/admin/employees/edit/' + ${e.id}}" class="btn btn-primary">Sửa</a>
                    <a th:href="@{'/admin/employees/delete/' + ${e.id}}" class="btn btn-danger">Xóa</a>
                </td>
            </tbody>
        </table>
    </div>
</body>

</html>