<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{admin/layouts/list.html}">

<head>

</head>

<body>
    <div layout:fragment="list_form">
        <div class="table table-light">
            <table>
                <thead>
                    <tr>
                        <th>Mã Nhân viên</th>
                        <th>Tên nhân viên</th>
                        <th>Vai trò</th>
                        <th>Số điện thoại</th>
                        <th>Địa chỉ</th>
                        <th>Email</th>
                        <th>Avatar</th>
                        <th>Hành động</th>
                    </tr>
                </thead>
                <tbody th:each="e : ${res.pagedList}">
                    <td th:text="${e.id}"></td>
                    <td><a style="text-decoration: none; color: black;" th:href="@{'/admin/employees/' + ${e.id}}"
                            th:text="${e.name}"></a></td>
                    <td th:text="${e.employeeRole.roleName}"></td>
                    <td th:text="${e.phone}"></td>
                    <td th:text="${e.address}"></td>
                    <td th:text="${e.email}"></td>
                    <td th:text="${e.id}"></td>
                    <td>
                        <!-- Button trigger modal -->
                        <a style="border-radius: 10px; color: white;" type="button" class="btn btn-danger"
                            data-toggle="modal" data-target="#exampleModal">
                            Xóa
                        </a>

                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        Bạn có chắc muốn xóa
                                    </div>
                                    <div class="modal-footer">
                                        <button style="border-radius: 10px;" type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Hủy</button>
                                        <a style="border-radius: 10px; color: white;" type="button"
                                            class="btn btn-danger">Xóa</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a style="border-radius: 10px; color: white;" class="btn btn-primary">Sửa</a>
                    </td>
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>