<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{admin/layouts/list.html}">

<head>
</head>

<body>
    <div layout:fragment="list_form">

        <table class="table table-bordered">
            <a th:href="@{/admin/brands/add}" type="button" class="btn btn-primary">Thêm Mới</a>
            <tbody>
                <th>ID</th>
                <th>Tên nhãn hàng</th>
                <th>Hành động</th>
            </tbody>
            <tbody th:each="b : ${res.pagedList}">
                <td th:text="${b.id}"></td>
                <td th:text="${b.brandName}"></td>
                <td>
                    <a th:href="@{'/admin/brands/edit/' + ${b.id}}" type="button" class="btn btn-primary">Sửa</a>
                    <a th:href="@{'/admin/brands/' + ${b.id}}" type="button" class="btn btn-danger">Xóa</a>
                </td>
            </tbody>
        </table>
        
    </div>
</body>

</html>