<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{module/blank_layout.html}">

<head>

    <!-- Add division to head fragment -->
    <div layout:fragment="head">

        <!-- Title fragment -->
        <div layout:fragment="title"></div>

    </div>

</head>

<body>

    <!-- Add division to body fragment -->
    <div layout:fragment="body">

        <!-- Nav bar -->
        <div>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="col-sm-2">
                    <a style="margin-left: 90px;" class="navbar-brand" href="#">LOGO</a>
                </div>
                <div class="col-sm-4">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                </div>
                <div style="left: 400px;" class="col-sm-6">
                    <a style="margin-right: 15px;" href="#"><img src="notification_48px.png" alt=""></a>
                    <a style="margin-right: 15px;" href="#"><img src="icons/male_user_48px.png" alt=""></a>
                    <a style="margin-right: 15px;" href="#"><img src="icons/shopping_cart_48px.png" alt=""></a>
                </div>
            </nav>
        </div>

        <!-- Section fragment -->
        <div layout:fragment="section"></div>

        <!-- Footer -->
        <div>
            <div class="card" style="margin-top: 10px;">
                <div class="card-body">
                    <h5 class="card-title">Title</h5>
                    <p class="card-text">Content</p>
                </div>
                <div class="card-footer">
                    Footer
                </div>
            </div>
        </div>

    </div>

</body>

</html>