<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{module/blank_layout.html}">

<head>

    <!-- Add division to head fragment -->
    <div layout:fragment="head">

        <!-- Title fragment -->
        <div layout:fragment="title"></div>

    </div>

</head>

<body>

    <!-- Add division to body fragment -->
    <div layout:fragment="body">

        <!-- Nav bar -->
        <div>
            <div class="wrapper">
                <!-- Sidebar  -->
                <nav id="sidebar">
                    <div class="sidebar-header">
                        <h3 style="margin-left: 22px;">SURFNSHOP</h3>
                    </div>
                    <ul class="list-unstyled components">
                        <li class="active">
                            <a style="text-decoration: none;" href="#">
                                <i class="fas fa-paper-plane"></i>
                                <b>Dashboard</b>
                            </a>
                        </li>
                        <li class="active">
                            <a style="text-decoration: none;" href="#brandsSubmenu" data-toggle="collapse"
                                aria-expanded="false" class="dropdown-toggle">
                                <i class="fas fa-home"></i>
                                <b>Brands</b>
                            </a>
                            <ul class="collapse list-unstyled" id="brandsSubmenu">
                                <li>
                                    <a style="color: white; text-decoration: none;" href="#">Add Brands</a>
                                </li>
                                <li>
                                    <a style="color: white; text-decoration: none;" href="#">List Brands</a>
                                </li>
                            </ul>
                        </li>
                        <li class="active">
                            <a style="text-decoration: none;" href="#categoriesSubmenu" data-toggle="collapse"
                                aria-expanded="false" class="dropdown-toggle">
                                <i class="fas fa-copy"></i>
                                <b>Categories</b>
                            </a>
                            <ul class="collapse list-unstyled" id="categoriesSubmenu">
                                <li>
                                    <a style="color: white; text-decoration: none;" href="#">Add Categories</a>
                                </li>
                                <li>
                                    <a style="color: white; text-decoration: none;" href="#">List Categories</a>
                                </li>
                            </ul>
                        </li>
                        <li class="active">
                            <a style="text-decoration: none;" href="#employeessubmenu" data-toggle="collapse"
                                class="dropdown-toggle">
                                <i class="fas fa-copy"></i>
                                <b>Employees</b>
                            </a>
                            <ul class="collapse list-unstyled" id="employeessubmenu">
                                <li>
                                    <a style="color: white; text-decoration: none;" href="#">Add Employees</a>
                                </li>
                                <li>
                                    <a style="color: white; text-decoration: none;" href="#">List Employees</a>
                                </li>
                            </ul>
                        </li>
                        <li class="active">
                            <a style="text-decoration: none;" href="#itemssubmenu" data-toggle="collapse"
                                class="dropdown-toggle">
                                <i class="fas fa-copy"></i>
                                <b>Items</b>
                            </a>
                            <ul class="collapse list-unstyled" id="itemssubmenu">
                                <li>
                                    <a style="color: white; text-decoration: none;" href="#">Add Items</a>
                                </li>
                                <li>
                                    <a style="color: white; text-decoration: none;" href="#">List Items</a>
                                </li>
                            </ul>
                        </li>
                        <li class="active">
                            <a style="text-decoration: none;" href="#Productssubmenu" data-toggle="collapse"
                                class="dropdown-toggle">
                                <i class="fas fa-copy"></i>
                                <b>Products</b>
                            </a>
                            <ul class="collapse list-unstyled" id="Productssubmenu">
                                <li>
                                    <a style="color: white; text-decoration: none;" href="#">Add Products</a>
                                </li>
                                <li>
                                    <a style="color: white; text-decoration: none;" href="#">List Products</a>
                                </li>
                            </ul>
                        </li>
                        <li class="active">
                            <a style="text-decoration: none;" href="#Shopssubmenu" data-toggle="collapse"
                                class="dropdown-toggle">
                                <i class="fas fa-copy"></i>
                                <b>Shops</b>
                            </a>
                            <ul class="collapse list-unstyled" id="Shopssubmenu">
                                <li>
                                    <a style="color: white; text-decoration: none;" href="#">Add Shops</a>
                                </li>
                                <li>
                                    <a style="color: white; text-decoration: none;" href="#">List Shops</a>
                                </li>
                            </ul>
                        </li>
                        <li class="active">
                            <a style="text-decoration: none;" href="#Userssubmenu" data-toggle="collapse"
                                class="dropdown-toggle">
                                <i class="fas fa-copy"></i>
                                <b>Users</b>
                            </a>
                            <ul class="collapse list-unstyled" id="Userssubmenu">
                                <li>
                                    <a style="color: white; text-decoration: none;" href="#">Add Users</a>
                                </li>
                                <li>
                                    <a style="color: white; text-decoration: none;" href="#">List Users</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>

                <!-- Page Content  -->
                <div id="content">
                    <nav class="navbar navbar-expand-lg navbar-light bg-light">
                        <div class="container-fluid">
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="nav navbar-nav ml-auto">
                                    <li class="nav-item">
                                        <div style="padding-right: 30px;" class="dropdown">
                                            <a style="margin-right: 5px;" href="#"><img
                                                    th:src="@{'/icons/male_user_48px.png'}" alt=""></a>
                                            <a style="cursor: pointer;" data-toggle="dropdown">
                                                <b>Hi Phạm Ngọc Tùng !</b>
                                            </a>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="#">Chỉnh sửa tài khoảng</a>
                                                <hr>
                                                <a class="dropdown-item" href="#">Đăng xuất</a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                    <!-- Section fragment -->
                    <div layout:fragment="section"></div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>