<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{admin/layouts/list.html}">

<head>
    <title>Title</title>
</head>

<body>
    <div layout:fragment="list_form">

        <table class="table table-bordered">
            <tbody>
                <th>ID Cửa Hàng</th>
                <th>Tên Cửa Hàng</th>
                <th>Địa Chỉ</th>
                <th>Số điện thoại</th>
                <th>Email</th>
                <th>Trạng Thái</th>
                <th>Avatar</th>
            </tbody>
            <tbody th:each="s : ${res.pagedList}">
                <td th:text="${s.id}"></td>
                <td th:text="${s.name}"></td>
                <td th:text="${s.adress}"></td>
                <td th:text="${s.phone}"></td>
                <td th:text="${s.email}"></td>
                <td th:text="${s.avatarUrl}"></td>
                <td><button type="button" class="btn btn-primary">Sửa</button>
                    <button type="button" class="btn btn-danger">Xóa</button></td>
            </tbody>
        </table>

    </div>
</body>

</html>