<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{admin/layouts/main.html}">

<head>
    <div layout:fragment="title">
        <title>Admin page</title>
    </div>
    <style>
        
    </style>
</head>

<body>
    <div layout:fragment="sidenav">
        <div class="sidenav">
            <button class="dropdown-btn">Quản lí đơn hàng
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-container">
                <a href="#">Tất cả đơn hàng</a>
                <a href="#">Xử lí hoạt động</a>
                <a href="#">Trả / Hoàn tiền</a>
            </div>
    
            <button class="dropdown-btn">Quản lí sản phẩm
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-container">
                <a href="#">Tất cả sản phẩm</a>
                <a href="#">Sản phẩm vi phạm</a>
                <a href="#">Thêm sản phẩm</a>
            </div>
    
            <button class="dropdown-btn">Tài chính
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-container">
                <a href="#">Doanh thu</a>
                <a href="#">Ví xu</a>
                <a href="#">Tài khoản ngân hàng</a>
            </div>
    
            <button class="dropdown-btn">Dữ liệu
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-container">
                <a href="#">Phân tích bán hàng</a>
                <a href="#">Hiệu quả hoạt động</a>
            </div>
    
            <button class="dropdown-btn">Quản lí Shop
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-container">
                <a href="#">Trang trí shop</a>
                <a href="#">Danh mục của shop</a>
                <a href="#">Thiết lập shop</a>
            </div>
        </div>
    </div>
    

    <div class="main">
    </div>

    <script>
        /* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */
        var dropdown = document.getElementsByClassName("dropdown-btn");
        var i;

        for (i = 0; i < dropdown.length; i++) {
            dropdown[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var dropdownContent = this.nextElementSibling;
                if (dropdownContent.style.display === "block") {
                    dropdownContent.style.display = "none";
                } else {
                    dropdownContent.style.display = "block";
                }
            });
        }
    </script>

</body>

</html>