<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{admin/layouts/main.html}">

<head>

    <!-- Add division to title fragment -->
    <div layout:fragment="title">
        <title>Admin page</title>
    </div>

</head>

<body>

    <!-- Add division to section fragment -->
    <div layout:fragment="section">

        <div class="row">
            <div class="col-sm-6 offset-3">
                <div class="card" style="margin-top: 130px;">
                    <div class="card-body">
                        <h5 class="card-title">
                            <h4 style="text-align: center;">QUÊN MẬT KHẨU</h4>
                            <p class="card-text" style="text-align: center; color: red;">
                                Vui lòng nhập Email hoặc số điện thoại của bạn, chúng tôi sẽ gửi liên kết đặt lại mật
                                khẩu đến bạn trong thời gian ngắn nhất.
                            </p>
                            <hr>
                            <div class="col-sm-8 offset-2">
                                <div class="form-group">
                                    <label for="my-input">Email</label>
                                    <input id="my-input" class="form-control" type="email"
                                        placeholder="example@gmail.com" name="">
                                </div>
                                <label for="my-input"><b>Hoặc</b></label>
                                <div class="form-group">
                                    <label for="my-input">Số điện thoại</label>
                                    <input id="my-input" class="form-control" type="number" placeholder="0123456789"
                                        name=""><br>
                                    <button class="btn btn-primary" type="submit">Submit</button>
                                </div>
                                <hr>
                                <div style="text-align: center;">
                                    <a style="text-decoration: none;" href="#">Đăng Kí</a>
                                    <a style="text-decoration: none;" href="#">Đăng Nhập</a>
                                </div>
                            </div>
                        </h5>
                    </div>
                </div>
            </div>
        </div>

    </div>

</body>

</html>