<!doctype html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{module/blank_layout.html}">

<head>

    <!-- Add division to head fragment -->
    <div layout:fragment="head">
        <title>Title</title>
    </div>


</head>

<body>

    <!-- Add division to body fragment -->
    <div layout:fragment="body">
        <div class="row">
            <div class="col-sm-4 offset-4">
                <div class="signup">
                    <h1 class="signup-heading">Đăng Nhập</h1>
                    <form action="javscript:voi(0);" class="signup-form" autocomplete="off" th:action="@{/admin/login}" method="POST">
                        <div class="form-group">
                            <label for="name" class="form-label">Tên đăng nhập</label>
                            <input name="username" type="text" class="form-input" id="name" placeholder="Tên đăng nhập">
                        </div>
                        <div class="form-group">
                            <label for="email" class="form-label">Mật khẩu</label>
                            <input name="password" type="password" class="form-input" id="email" placeholder="Mật khẩu">
                        </div>
                        <button type="submit" class="form-submit">Đăng nhập</button>
                        <br>
                        <hr />
                        <div style="text-align: center;">
                            <a style="text-decoration: none;" href="#">Đăng Kí   </a>
                            <a style="text-decoration: none;" href="#">Quên Mật Khẩu</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>

</body>

</html>