<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{test/layout.html}">

<head>
    <title>Title</title>
</head>

<body>
    
    <div layout:fragment="list">
        <div class="row" style="margin-top: 10px;">
            <div class="col-sm-3">
              <div class="card" style="margin-left: 10px;">
                <div class="card-header">
                  <img src="icons/menu_48px.png" alt="">Danh mục sản phẩm
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Phụ Kiện Điện Tử</li>
                  <li class="list-group-item">TV & Thiết Bị Điện Gia Dụng</li>
                  <li class="list-group-item">Sức Khỏe & Làm Đẹp</li>
                  <li class="list-group-item">Hàng Mẹ, Bé & Đồ Chơi</li>
                  <li class="list-group-item">Siêu Thị Tạp Hóa</li>
                  <li class="list-group-item">Hàng Gia dụng & Đời sống</li>
                  <li class="list-group-item">Thời Trang Nữ</li>
                  <li class="list-group-item">Thời Trang Nam</li>
                  <li class="list-group-item">Phụ Kiện Thời Trang</li>
                </ul>
              </div>
            </div>
            <div class="col-sm-5">
              <div class="card" style="width: 640px; height: 310px;">
                <div class="card-body">
                  <h5 class="card-title">Title</h5>
                  <p class="card-text">Content</p>
                </div>
              </div>
              <div class="card" style="width: 640px; height: 310px; margin-top: 10px;">
                <div class="card-body">
                  <h5 class="card-title">Title</h5>
                  <p class="card-text">Content</p>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="card" style="width: 470px; height: 150px;">
                <div class="card-body">
                  <h5 class="card-title">Title</h5>
                  <p class="card-text">Content</p>
                </div>
              </div>
              <div class="card" style="width: 470px; height: 150px; margin-top: 10px;">
                <div class="card-body">
                  <h5 class="card-title">Title</h5>
                  <p class="card-text">Content</p>
                </div>
              </div>
              <div class="card" style="width: 470px; height: 150px;margin-top: 10px;">
                <div class="card-body">
                  <h5 class="card-title">Title</h5>
                  <p class="card-text">Content</p>
                </div>
              </div>
              <div class="card" style="width: 470px; height: 150px; margin-top: 10px;">
                <div class="card-body">
                  <h5 class="card-title">Title</h5>
                  <p class="card-text">Content</p>
                </div>
              </div>
            </div>
          </div>
    </div>

</body>

</html>