<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{admin/layouts/add_or_edit.html}">

<head>

</head>

<body>

    <!-- Add division to add-or-edit form fragment -->
    <div layout:fragment="addOrEdit_form">

        <form class="form-group" th:action="@{/admin/shops/save}" method="POST" th:object="${object}">
            <label for="my-input">ID</label>
            <input id="my-input" class="form-control" type="text" th:field="*{id}">
            <label for="my-input">Tên </label>
            <input id="my-input" class="form-control" type="text" th:field="*{name}">
            <label for="my-input">dc</label>
            <input id="my-input" class="form-control" type="text" th:field="*{address}">
            <label for="my-input">email</label>
            <input id="my-input" class="form-control" type="text" th:field="*{email}">
            <label for="my-input">phone</label>
            <input id="my-input" class="form-control" type="text" th:field="*{phone}">
            <label for="my-input">status</label>
            <input id="my-input" class="form-control" type="text" th:field="*{status}">
            <hr>
            <button type="submit" class="btn btn-primary">Lưu</button>
        </form>

    </div>

</body>

</html>