<!doctype html>
<html>
<head>
  <title>Title</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
  
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="col-sm-2">
        <a style="margin-left: 90px;" class="navbar-brand" href="#">LOGO</a>
      </div>
      <div class="col-sm-4">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      </div>
      <div class="col-sm-6">
        <a style="margin-right:     15px;" href="#"><img src="icons/notification_48px.png" alt=""></a>
        <a style="margin-right: 15px;" href="#"><img src="icons/male_user_48px.png" alt=""></a>
        <a style="margin-right: 215px;" href="#"><img src="icons/shopping_cart_48px.png" alt=""></a>
      </div>
    </nav>
<div class="small-container" >
  <div class="col-12">
    <h1>Cart</h1>
  </div>
</div>
    <div class="small-container cart-page" >
        <table>
            <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Subtotal</th>
            </tr>
            <tr>
                <td>
                    <div class="cart-info">
                        <img src="images/product.png">
                        <div>
                            <p>Điện Thoại</p>
                            <small>Price: $50.00</small>
                            <br>
                            <a href="">Remove</a>
                        </div>
                    </div>
                </td>
                <td><input type="number" value="1"></td>
                <td>$50.00</td>
            </tr>
            <tr>
                <td>
                    <div class="cart-info">
                        <img src="images/product.png">
                        <div>
                            <p>Điện Thoại</p>
                            <small>Price: $75.00</small>
                            <br>
                            <a href="">Remove</a>
                        </div>
                    </div>
                </td>
                <td><input type="number" value="1"></td>
                <td>$75.00</td>
            </tr>
            <tr>
                <td>
                    <div class="cart-info">
                        <img src="images/product.png">
                        <div>
                            <p>Điện Thoại</p>
                            <small>Price: $50.00</small>
                            <br>
                            <a href="">Remove</a>
                        </div>
                    </div>
                </td>
                <td><input type="number" value="1"></td>
                <td>$50.00</td>
            </tr>
        </table>

        <div class="total-price">
            <table>
                <tr>
                    <td>Subtotal</td>
                    <td>175.000$</td>
                   
                </tr>
                <tr>
                    <td>Tax</td>
                    <td>25.00$</td>
                </tr>
                <tr>
                    <td>Total</td>
                    <td>200.000$</td>
                    
                </tr>
                <tr>
                    <td><td>  <button type="button" class="btn btn-primary">Buy</button></td></td>
                </tr>
            </table>

        </div>
       


    </div>


<div class="card-footer">Footer</div>
    
</body>
</html>