<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="css/style.css" />
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="row">
      <div class="col-sm-4">
        <a style="margin-left: 90px" class="navbar-brand" href="#">LOGO</a>
      </div>
      <div class="col-sm-6">
        <input
          class="form-control mr-sm-2"
          type="search"
          placeholder="Search"
          aria-label="Search"/>
      </div>
     
      </div>
    </nav>
    <div class="row" style="margin-top: 39px">
      <div class="col-sm-3 sticky">
        <div class="card" style="margin-left: 10px">
          <div class="card-header">
            <img src="icons/menu_48px.png" alt="" />Danh mục sản phẩm
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Phụ Kiện Điện Tử</li>
            <li class="list-group-item">TV & Thiết Bị Điện Gia Dụng</li>
            <li class="list-group-item">Sức Khỏe & Làm Đẹp</li>
            <li class="list-group-item">Hàng Mẹ, Bé & Đồ Chơi</li>
            <li class="list-group-item">Siêu Thị Tạp Hóa</li>
            <li class="list-group-item">Hàng Gia dụng & Đời sống</li>
            <li class="list-group-item">Thời Trang Nữ</li>
            <li class="list-group-item">Thời Trang Nam</li>
            <li class="list-group-item">Phụ Kiện Thời Trang</li>
          </ul>
        </div>
      </div>
      <div class="col-sm-9">
        <div class="row">
          <div class="col-12 mb-3">
          <a>Sap sep theo:</a>
          <button style="background-color: white; padding: 3px; ">Liên quan</button>
          <button style="background-color: white; padding: 3px;">Mới nhất</button>
          <button style="background-color: white; padding: 3px;">Bán chạy</button>

            <select>
              <option>Giá: từ thấp đến cao</option>
              <option>Giá: từ cao đến thấp</option>
            </select>
          </div>
        </div>

        <div class="row">
          <div class="col-2">
            <img src="images/product.png" />
            <h4>Dien thoai AAAAA</h4>
            <div class="rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-o"></i>
            </div>
            <p>$50.00</p>
          </div>
          <div class="col-2">
            <img src="images/product.png" />
            <h4>Dien thoai AAAAAt</h4>
            <div class="rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-half-o"></i>
              <i class="fa fa-star-o"></i>
            </div>
            <p>$50.00</p>
          </div>
          <div class="col-2">
            <img src="images/product.png" />
            <h4>Dien thoai AAAAAt</h4>
            <div class="rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-half-o"></i>
            </div>
            <p>$50.00</p>
          </div>
          <div class="col-2">
            <img src="images/product.png" />
            <h4>Dien thoai AAAAAt</h4>
            <div class="rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-o"></i>
            </div>
            <p>$50.00</p>
          </div>
          <div class="col-2">
            <img src="images/product.png" />
            <h4>Dien thoai AAAAAt</h4>
            <div class="rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-o"></i>
            </div>
            <p>$50.00</p>
          </div>
          <div class="col-2 ">
            <img src="images/product.png" />
            <h4>Dien thoai AAAAAt</h4>
            <div class="rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-o"></i>
            </div>
            <p>$50.00</p>
          </div>
        </div>
        <div class="row">
          <div class="col-2">
            <img src="images/product.png" />
            <h4>Dien thoai AAAAA</h4>
            <div class="rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-o"></i>
            </div>
            <p>$50.00</p>
          </div>
          <div class="col-2">
            <img src="images/product.png" />
            <h4>Dien thoai AAAAAt</h4>
            <div class="rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-half-o"></i>
              <i class="fa fa-star-o"></i>
            </div>
            <p>$50.00</p>
          </div>
          <div class="col-2">
            <img src="images/product.png" />
            <h4>Dien thoai AAAAAt</h4>
            <div class="rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-half-o"></i>
            </div>
            <p>$50.00</p>
          </div>
          <div class="col-2">
            <img src="images/product.png" />
            <h4>Dien thoai AAAAAt</h4>
            <div class="rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-o"></i>
            </div>
            <p>$50.00</p>
          </div>
          <div class="col-2">
            <img src="images/product.png" />
            <h4>Dien thoai AAAAAt</h4>
            <div class="rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-o"></i>
            </div>
            <p>$50.00</p>
          </div>
          <div class="col-2 ">
            <img src="images/product.png" />
            <h4>Dien thoai AAAAAt</h4>
            <div class="rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-o"></i>
            </div>
            <p>$50.00</p>
          </div>
        </div>
        <div class="row">
          <div class="col-2">
            <img src="images/product.png" />
            <h4>Dien thoai AAAAA</h4>
            <div class="rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-o"></i>
            </div>
            <p>$50.00</p>
          </div>
          <div class="col-2">
            <img src="images/product.png" />
            <h4>Dien thoai AAAAAt</h4>
            <div class="rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-half-o"></i>
              <i class="fa fa-star-o"></i>
            </div>
            <p>$50.00</p>
          </div>
          <div class="col-2">
            <img src="images/product.png" />
            <h4>Dien thoai AAAAAt</h4>
            <div class="rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-half-o"></i>
            </div>
            <p>$50.00</p>
          </div>
          <div class="col-2">
            <img src="images/product.png" />
            <h4>Dien thoai AAAAAt</h4>
            <div class="rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-o"></i>
            </div>
            <p>$50.00</p>
          </div>
          <div class="col-2">
            <img src="images/product.png" />
            <h4>Dien thoai AAAAAt</h4>
            <div class="rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-o"></i>
            </div>
            <p>$50.00</p>
          </div>
          <div class="col-2">
            <img src="images/product.png" />
            <h4>Dien thoai AAAAAt</h4>
            <div class="rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-o"></i>
            </div>
            <p>$50.00</p>
          </div>
        </div>
        <div class="row">
          <div class="col-2">
            <img src="images/product.png" />
            <h4>Dien thoai AAAAA</h4>
            <div class="rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-o"></i>
            </div>
            <p>$50.00</p>
          </div>
          <div class="col-2">
            <img src="images/product.png" />
            <h4>Dien thoai AAAAAt</h4>
            <div class="rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-half-o"></i>
              <i class="fa fa-star-o"></i>
            </div>
            <p>$50.00</p>
          </div>
          <div class="col-2">
            <img src="images/product.png" />
            <h4>Dien thoai AAAAAt</h4>
            <div class="rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-half-o"></i>
            </div>
            <p>$50.00</p>
          </div>
          <div class="col-2">
            <img src="images/product.png" />
            <h4>Dien thoai AAAAAt</h4>
            <div class="rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-o"></i>
            </div>
            <p>$50.00</p>
          </div>
          <div class="col-2">
            <img src="images/product.png" />
            <h4>Dien thoai AAAAAt</h4>
            <div class="rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-o"></i>
            </div>
            <p>$50.00</p>
          </div>
          <div class="col-2 card">
            <img src="images/product.png" />
            <h4>Dien thoai AAAAAt</h4>
            <div class="rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-o"></i>
            </div>
            <p>$50.00</p>
          </div>
        </div>

        <div class="row">
          <div class="col-2">
            <img src="images/product.png" />
            <h4>Dien thoai AAAAA</h4>
            <div class="rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-o"></i>
            </div>
            <p>$50.00</p>
          </div>
          <div class="col-2">
            <img src="images/product.png" />
            <h4>Dien thoai AAAAAt</h4>
            <div class="rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-half-o"></i>
              <i class="fa fa-star-o"></i>
            </div>
            <p>$50.00</p>
          </div>
          <div class="col-2">
            <img src="images/product.png" />
            <h4>Dien thoai AAAAAt</h4>
            <div class="rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-half-o"></i>
            </div>
            <p>$50.00</p>
          </div>
          <div class="col-2">
            <img src="images/product.png" />
            <h4>Dien thoai AAAAAt</h4>
            <div class="rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-o"></i>
            </div>
            <p>$50.00</p>
          </div>
          <div class="col-2">
            <img src="images/product.png" />
            <h4>Dien thoai AAAAAt</h4>
            <div class="rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-o"></i>
            </div>
            <p>$50.00</p>
          </div>
          <div class="col-2 card">
            <img src="images/product.png" />
            <h4>Dien thoai AAAAAt</h4>
            <div class="rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-o"></i>
            </div>
            <p>$50.00</p>
          </div>
        </div>
        <div class="row">
          <div class="col-2">
            <img src="images/product.png" />
            <h4>Red Printed T-Shirt</h4>
            <div class="rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-o"></i>
            </div>
            <p>$50.00</p>
          </div>
          <div class="col-2">
            <img src="images/product.png" />
            <h4>Red Printed T-Shirt</h4>
            <div class="rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-half-o"></i>
              <i class="fa fa-star-o"></i>
            </div>
            <p>$50.00</p>
          </div>
          <div class="col-2">
            <img src="images/product.png" />
            <h4>Red Printed T-Shirt</h4>
            <div class="rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-half-o"></i>
            </div>
            <p>$50.00</p>
          </div>
          <div class="col-2">
            <img src="images/product.png" />
            <h4>Red Printed T-Shirt</h4>
            <div class="rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-o"></i>
            </div>
            <p>$50.00</p>
          </div>
          <div class="col-2">
            <img src="images/product.png" />
            <h4>Red Printed T-Shirt</h4>
            <div class="rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-o"></i>
            </div>
            <p>$50.00</p>
          </div>
          <div class="col-2 card">
            <img src="images/product.png" />
            <h4>Red Printed T-Shirt</h4>
            <div class="rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-o"></i>
            </div>
            <p>$50.00</p>
          </div>
        </div>
      </div>
    </div>

    <div class="card-footer">Footer</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
