<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div>
        <div class="row">
            <div class="col-sm-6 offset-3" style="margin-top: 20px;">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">SỬA THÔNG TIN CỬA HÀNG</h5>
                        <div class="form-group">
                            <label for="my-input">ID Cửa hàng</label>
                            <input id="my-input" class="form-control" disabled type="text" name="" value="SHOP01">
                            <label for="my-input">Tên cửa hàng</label>
                            <input id="my-input" class="form-control" type="text" name="">
                            <label for="my-input">Số điện thoại</label>
                            <input id="my-input" class="form-control" type="text" name="">
                            <label for="my-input">Địa chỉ</label>
                            <input id="my-input" class="form-control" type="text" name="">
                            <label for="my-input">Email</label>
                            <input id="my-input" class="form-control" type="email" name="">
                            <div class="form-group">
                                <label for="my-input">Avatar</label>
                                <input id="my-input" class="form-control-file" type="file" name="">
                            </div>
                            <hr>
                            <button type="submit" class="btn btn-primary">Lưu</button>
                            <button type="reset" class="btn btn-danger">Xóa trắng</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>