<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{user/layouts/main.html}">

<head>
  <div layout:fragment="title">
    <div layout:fragment="addOrEdit_title"></div>
  </div>
</head>

<body>
  <div layout:fragment="section">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <div class="card-title mb-4">
                <div class="d-flex justify-content-start">
                  <div class="image-container">
                    <img src="http://placehold.it/150x150" id="imgProfile" style="width: 150px; height: 150px"
                      class="img-thumbnail" />
                  </div>
                  <div class="userData ml-3">
                    <h2 class="d-block" style="font-size: 1.5rem; font-weight: bold"><a href="javascript:void(0);">Some
                        Name</a></h2>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-12">
                  <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
                    <li class="nav-item">
                      <a class="nav-link active" id="basicInfo-tab" data-toggle="tab" href="#basicInfo" role="tab"
                        aria-controls="basicInfo" aria-selected="true">Basic Info</a>
                    </li>
                  </ul>
                  <div class="tab-content ml-1" id="myTabContent">
                    <div class="tab-pane fade show active" id="basicInfo" role="tabpanel"
                      aria-labelledby="basicInfo-tab">


                      <div class="row">
                        <div class="col-sm-3 col-md-2 col-5">
                          <label style="font-weight:bold;">Tên người dùng</label>
                        </div>
                        <div class="col-md-8 col-6">
                          Jamshaid Kamran
                        </div>
                      </div>
                      <hr />

                      <div class="row">
                        <div class="col-sm-3 col-md-2 col-5">
                          <label style="font-weight:bold;">Username</label>
                        </div>
                        <div class="col-md-8 col-6">
                          user1
                        </div>
                      </div>
                      <hr />
                      <div class="row">
                        <div class="col-sm-3 col-md-2 col-5">
                          <label style="font-weight:bold;">Số điện Thoại</label>
                        </div>
                        <div class="col-md-8 col-6">
                          088888888
                        </div>
                      </div>
                      <hr />
                      <div class="row">
                        <div class="col-sm-3 col-md-2 col-5">
                          <label style="font-weight:bold;">Địa chỉ</label>
                        </div>
                        <div class="col-md-8 col-6">
                          Đà Nẵng
                        </div>
                      </div>
                      <hr />
                      <div class="row">
                        <div class="col-sm-3 col-md-2 col-5">
                          <label style="font-weight:bold;">Email</label>
                        </div>
                        <div class="col-md-8 col-6">
                          ABC@gmail.com
                        </div>
                      </div>
                      
                    </div>
                    
                    <hr>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br/>
  </div>
</body>

</html>