<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div style="height: 1000px;">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="col-sm-2">
                <a style="margin-left: 90px;" class="navbar-brand" href="#">LOGO</a>
            </div>
            <div class="col-sm-4">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            </div>
            <div style="left: 400px;" class="col-sm-6">
                <a style="margin-right: 15px;" href="#"><img src="icons/notification_48px.png" alt=""></a>
                <a style="margin-right: 15px;" href="#"><img src="icons/male_user_48px.png" alt=""></a>
                <a style="margin-right: 15px;" href="#"><img src="icons/shopping_cart_48px.png" alt=""></a>
            </div>
        </nav>
        <div class="row">
            <div class="col-sm-6 offset-3" style="margin-top: 50px;">
                <div class="card">
                    <div class="card-body">
                        <h5 style="text-align: center;" class="card-title">Đăng Kí Bán Hàng Cùng "..."</h5>
                        <p style="text-align: center;" class="card-text">Cảm ơn đối tác đã tin tưởng và lựa chọn đồng
                            hành cùng "..." ! <br>
                            Vui lòng hoàn tất thông tin để tạo tài khoảng đăng nhập Trung Tâm Bán Hàng - "..." Seller
                            Center.</p>
                        <div class="form-group">
                            <label for="my-input">Họ tên chủ cửa hàng</label>
                            <input id="my-input" class="form-control" type="text" name="">
                            <label for="my-input">Số điện thoại</label>
                            <input id="my-input" class="form-control" type="password" name="">
                            <label for="my-input">Email</label>
                            <input id="my-input" class="form-control" type="password" name="">
                            <label for="my-input">Mật khẩu</label>
                            <input id="my-input" class="form-control" type="text" name="">
                            <label for="my-input">Tên cửa hàng</label>
                            <input id="my-input" class="form-control" type="email" name="">
                            <label for="my-input">Mã số kinh doanh</label>
                            <input id="my-input" class="form-control" type="email" name="">
                            <label for="my-input">Tỉnh/Thành phố</label>
                            <input id="my-input" class="form-control" type="text" name="">
                            <label for="my-input">Chọn ngành hàng</label>
                            <input id="my-input" class="form-control" type="text" name="">
                        </div>
                        <a href="#">
                            <h4 style="text-align: center;"><span class="badge badge-primary">Đăng Kí</span>
                            </h4>
                        </a>
                    </div>
                    <p style="text-align: center;" class="card-text">Bằng cách gửi đơn đăng kí của bạn, bạn đồng ý với <a style="text-decoration: none;" href="#"><i>Thỏa thuận dịch vụ</i></a> của chúng tôi<br>
                       và xác nhận rằng thông tin bạn cung cấp đã hoàn chỉnh và chính xác.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>