<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{user/layouts/main.html}">

<head>
    <div layout:fragment="title">
        <div layout:fragment="addOrEdit_title"></div>
    </div>
</head>

<body>

    <!-- Add division to section fragment -->
    <div layout:fragment="section">

        <div class="row">
            <div class="col-sm-6 offset-3" style="margin-top: 20px;">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"></h5>

                        <!-- Add-or-edit form fragment -->
                        <div layout:fragment="addOrEdit_form"></div>

                    </div>
                </div>
            </div>
        </div>
        </div>

    </div>

</body>

</html>