<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{user/layouts/checkout.html}">

<head></head>

<body>
    <div layout:fragment="checkoutform">
        <form class="form" th:action="@{/checkout/save}" method="POST" th:object="${object}">
            <div class="row">
                <div class="col-lg-12 col-md-6 col-12">
                    <div class="form-group">
                        <label>ID<span>*</span></label>
                        <input type="text" name="name" placeholder="" th:field="*{user.id}" required="required">
                    </div>
                </div>
                <div class="col-lg-12 col-md-6 col-12">
                    <div class="form-group">
                        <label>Họ Tên<span>*</span></label>
                        <input type="text" name="name" placeholder="" th:field="*{name}" required="required">
                    </div>
                </div>
                <div class="col-lg-12 col-md-6 col-12">
                    <div class="form-group">
                        <label>Địa chỉ email<span>*</span></label>
                        <input type="email" name="email" placeholder="" th:field="*{email}" required="required">
                    </div>
                </div>
                <div class="col-lg-12 col-md-6 col-12">
                    <div class="form-group">
                        <label>Số điện thoại<span>*</span></label>
                        <input type="text" name="number" placeholder="" th:field="*{phone}" required="required">
                    </div>
                </div>
                <div class="col-lg-12 col-md-6 col-12">
                    <div class="form-group">
                        <label>Địa chỉ nhận hàng<span>*</span></label>
                        <input type="text" name="address" placeholder="" th:field="*{address}" required="required">
                    </div>
                </div>

                <div class="col-lg-12 col-md-8 col-12">
                    <div class="order-details">
                        <!-- Order Widget -->
                        <div class="single-widget">
                            <h2>Tổng thanh toán</h2>
                            <div class="content">
                                <ul>
                                    <li>Tổng tiền hàng<span>490.000</span></li>
                                    <li>(+) Shipping<span>10.000</span></li>
                                    <li class="last">Tổng<span>500.000</span></li>
                                </ul>
                            </div>
                        </div>
                        <!--/ End Order Widget -->
                        <!-- Order Widget -->
                        <div class="single-widget">
                            <h2>Thanh toán qua</h2>
                            <div class="content">
                                <div class="checkbox">
                                    <label class="checkbox-inline" for="1"><input
                                                name="updates" id="1" value="paycheck"
                                                type="checkbox">Thanh toán sau
                                            khi nhận hàng</label>
                                </div>
                            </div>
                        </div>
                        <!--/ End Order Widget -->
                        <!-- Payment Method Widget -->
                        <!--/ End Payment Method Widget -->
                        <!-- Button Widget -->
                        <div class="single-widget get-button">
                            <div class="content">
                                <div class="button">
                                    <button type="submit" class="btn">Xác
                                            nhận thanh toán</button>
                                </div>
                            </div>
                        </div>
                        <!--/ End Button Widget -->
                    </div>
                </div>
            </div>
        </form>

    </div>

</body>

</html>