<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{user/layouts/main.html}">

<body>
    <div layout:fragment="section">
        <!--category-->
        <div class="container">
            <h1>Animation Contact Button</h1>
            <div class="ws-contact">
                <a href="tel:0973529090" tooltip="Call me" class="ws-contact-icon call"></a>
                <a href="mailto:info@webseo247.com" tooltip="Send mail" class="ws-contact-icon mail"></a>
                <a href="https://www.facebook.com/WebSeoVietNam" tooltip="Fanpage Facebook" class="ws-contact-icon facebook" target="_blank"></a>
                <a href="https://m.me/WebSeoVietNam" tooltip="Inbox to me" class="ws-contact-icon message" target="_blank"></a>
                <a href="https://zalo.me/0973529090" tooltip="Chat with me" class="ws-contact-icon zalo" target="_blank"></a>
                <a href="javascript:void(0);" tooltip="Contact Info" class="ws-contact-icon btnn"></a>
            </div>
            <p>~ made with <i class="fa fa-heart"></i> and <i class="fa fa-coffee"></i></p>
        </div>

</body>

</html>