<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{user/layouts/main.html}">
<header>

</header>

<body>
    <div layout:fragment="section">
        <div class="container">
            <!-- Start Checkout -->
            <section class="shop checkout section">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-12" style="position: relative;left: 210px;">
                            <div class="checkout-form">
                                <h2>Xác nhận thông tin</h2>
                                <p>vui lòng nhập đầy đủ thông tin nhận hàng</p>
                                <!-- Form -->
                                <div layout:fragment="checkoutform"></div>
                                <!--/ End Form -->
                            </div>
                        </div>

                    </div>
                </div>
            </section>
        </div>
        <!--/ End Checkout -->
    </div>
</body>

</html>