<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{user/layouts/shop_page.html}">

<head>
     <!-- Add division to title fragment -->
    <div layout:fragment="title">

    </div>
</head>

<body>
     <!-- Add division to section fragment -->
    <div layout:fragment="shop_page">

        <div class="col-sm-12" style="margin-top: 20px;">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    <hr>                   
                    <!-- detail form fragment -->
                    <div layout:fragment="detail_form"></div>

                </div>
            </div>
        </div>

    </div>

</body>

</html>