<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{user/layouts/list.html}">

<head>
</head>

<body>
    <div layout:fragment="list">
        <!-- Start Product Area -->
        <div class="product-area section">
            <div class="container">
                <div class="row">
                    <div class="col-12" style="height: 78px;">
                        <div class="section-title">
                            <h2>Mặt hàng bán chạy</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="product-info">
                            <div class="tab-content" id="myTabContent">
                                <!-- Start Single Tab -->
                                <div class="tab-pane fade show active" id="man" role="tabpanel">
                                    <div class="tab-single">
                                        <div class="row">
                                            <div class="col-xl-3 col-lg-4
                                                    col-md-4 col-12">
                                                <div class="single-product">
                                                    <div class="product-img">
                                                        <a href="product-details.html" id="imgsetting" style="background-image:
                                                                url(https://www.att.com/catalog/en/skus/images/lg-k40-platinum%20gray-450x350.png)">
                                                            <img class="hover-img" id="imgsetting1" style="background-image:
                                                                    url(https://www.att.com/catalog/en/skus/images/lg-k40-platinum%20gray-450x350.png)">
                                                        </a>
                                                        <div class="button-head">
                                                            <div class="product-action">
                                                                <a data-toggle="modal" data-target="#exampleModal" title="Quick
                                                                        View" href="#"><i
                                                                            class="ti-eye"></i><span>Cửa
                                                                            hàng</span></a>
                                                                <a title="Wishlist" href="#"><i
                                                                            class="ti-heart"></i><span>Yêu
                                                                            thích</span></a>
                                                                <a title="Compare" href="#"><i
                                                                            class="ti-bar-chart-alt"></i><span>So
                                                                            Sánh</span></a>
                                                            </div>
                                                            <div class="product-action-2">
                                                                <a title="Thêm
                                                                        vào giỏ
                                                                        hàng" href="#">Thêm
                                                                        vào giỏ
                                                                        hàng</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="product-content">
                                                        <h3><a href="product-details.html">
                                                                    LG Phones</a></h3>
                                                        <div class="product-price">
                                                            <span>16,900,000
                                                                    VNĐ</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xl-3 col-lg-4
                                                    col-md-4 col-12">
                                                <div class="single-product">
                                                    <div class="product-img">
                                                        <a href="product-details.html" id="imgsetting" style="background-image:
                                                                url(https://www.att.com/idpassets/global/devices/phones/apple/iphone-11/defaultimage/iphone-11-purple.png)">
                                                            <img class="hover-img" id="imgsetting1" style="background-image:
                                                                    url(https://www.att.com/idpassets/global/devices/phones/apple/iphone-11/defaultimage/iphone-11-purple.png)">
                                                        </a>
                                                        <div class="button-head">
                                                            <div class="product-action">
                                                                <a data-toggle="modal" data-target="#exampleModal" title="Quick
                                                                        View" href="#"><i
                                                                            class="ti-eye"></i><span>Cửa
                                                                            hàng</span></a>
                                                                <a title="Wishlist" href="#"><i
                                                                            class="ti-heart"></i><span>Yêu
                                                                            thích</span></a>
                                                                <a title="Compare" href="#"><i
                                                                            class="ti-bar-chart-alt"></i><span>So
                                                                            Sánh</span></a>
                                                            </div>
                                                            <div class="product-action-2">
                                                                <a title="Thêm
                                                                        vào giỏ
                                                                        hàng" href="#">Thêm
                                                                        vào giỏ
                                                                        hàng</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="product-content">
                                                        <h3><a href="product-details.html">IPhone
                                                                    11</a></h3>
                                                        <div class="product-price">
                                                            <span>21,900,000
                                                                    VNĐ</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xl-3 col-lg-4
                                                    col-md-4 col-12">
                                                <div class="single-product">
                                                    <div class="product-img">
                                                        <a href="product-details.html" id="imgsetting" style="background-image:
                                                                url(https://i.gadgets360cdn.com/products/large/asus-rog-phone-3-db-498x800-1595477051.jpg)">
                                                            <img class="hover-img" id="imgsetting1" style="background-image:
                                                                    url(https://i.gadgets360cdn.com/products/large/asus-rog-phone-3-db-498x800-1595477051.jpg)">
                                                        </a>
                                                        <div class="button-head">
                                                            <div class="product-action">
                                                                <a data-toggle="modal" data-target="#exampleModal" title="Quick
                                                                        View" href="#"><i
                                                                            class="ti-eye"></i><span>Cửa
                                                                            hàng</span></a>
                                                                <a title="Wishlist" href="#"><i
                                                                            class="ti-heart"></i><span>Yêu
                                                                            thích</span></a>
                                                                <a title="Compare" href="#"><i
                                                                            class="ti-bar-chart-alt"></i><span>So
                                                                            Sánh</span></a>
                                                            </div>
                                                            <div class="product-action-2">
                                                                <a title="Thêm
                                                                        vào giỏ
                                                                        hàng" href="#">Thêm
                                                                        vào giỏ
                                                                        hàng</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="product-content">
                                                        <h3><a href="product-details.html">
                                                                    Asus ROG
                                                                    Phone 3</a></h3>
                                                        <div class="product-price">
                                                            <span>$29.00</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xl-3 col-lg-4
                                                    col-md-4 col-12">
                                                <div class="single-product">
                                                    <div class="product-img">
                                                        <a href="product-details.html" id="imgsetting" style="background-image:
                                                                url(https://www.91-img.com/pictures/135637-v5-oneplus-7t-mobile-phone-large-1.jpg?tr=q-60)">
                                                            <img class="hover-img" id="imgsetting1" style="background-image:
                                                                    url(https://www.91-img.com/pictures/135637-v5-oneplus-7t-mobile-phone-large-1.jpg?tr=q-60)">
                                                        </a>
                                                        <div class="button-head">
                                                            <div class="product-action">
                                                                <a data-toggle="modal" data-target="#exampleModal" title="Quick
                                                                        View" href="#"><i
                                                                            class="ti-eye"></i><span>Cửa
                                                                            hàng</span></a>
                                                                <a title="Wishlist" href="#"><i
                                                                            class="ti-heart"></i><span>Yêu
                                                                            thích</span></a>
                                                                <a title="Compare" href="#"><i
                                                                            class="ti-bar-chart-alt"></i><span>So
                                                                            Sánh</span></a>
                                                            </div>
                                                            <div class="product-action-2">
                                                                <a title="Thêm
                                                                        vào giỏ
                                                                        hàng" href="#">Thêm
                                                                        vào giỏ
                                                                        hàng</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="product-content">
                                                        <h3><a href="product-details.html">
                                                                    OnePlus 7T</a></h3>
                                                        <div class="product-price">
                                                            <span>$29.00</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xl-3 col-lg-4
                                                    col-md-4 col-12">
                                                <div class="single-product">
                                                    <div class="product-img">
                                                        <a href="product-details.html" id="imgsetting" style="background-image:
                                                                url(https://didongviet.vn//statics/category/iphone/iphone-12/12-Pro-Series.png)">
                                                            <img class="hover-img" id="imgsetting1" style="background-image:
                                                                    url(https://didongviet.vn//statics/category/iphone/iphone-12/12-Pro-Series.png)">
                                                        </a>
                                                        <div class="button-head">
                                                            <div class="product-action">
                                                                <a data-toggle="modal" data-target="#exampleModal" title="Quick
                                                                        View" href="#"><i
                                                                            class="ti-eye"></i><span>Cửa
                                                                            hàng</span></a>
                                                                <a title="Wishlist" href="#"><i
                                                                            class="ti-heart"></i><span>Yêu
                                                                            thích</span></a>
                                                                <a title="Compare" href="#"><i
                                                                            class="ti-bar-chart-alt"></i><span>So
                                                                            Sánh</span></a>
                                                            </div>
                                                            <div class="product-action-2">
                                                                <a title="Thêm
                                                                        vào giỏ
                                                                        hàng" href="#">Thêm
                                                                        vào giỏ
                                                                        hàng</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="product-content">
                                                        <h3><a href="product-details.html">Awesome
                                                                    Bags
                                                                    Collection</a></h3>
                                                        <div class="product-price">
                                                            <span>$29.00</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xl-3 col-lg-4
                                                    col-md-4 col-12">
                                                <div class="single-product">
                                                    <div class="product-img">
                                                        <a href="product-details.html" id="imgsetting" style="background-image:
                                                                url(https://didongviet.vn//statics/category/iphone/iphone-12/12-Pro-Series.png)">
                                                            <img class="hover-img" id="imgsetting1" style="background-image:
                                                                    url(https://didongviet.vn//statics/category/iphone/iphone-12/12-Pro-Series.png)">
                                                        </a>
                                                        <div class="button-head">
                                                            <div class="product-action">
                                                                <a data-toggle="modal" data-target="#exampleModal" title="Quick
                                                                        View" href="#"><i
                                                                            class="ti-eye"></i><span>Cửa
                                                                            hàng</span></a>
                                                                <a title="Wishlist" href="#"><i
                                                                            class="ti-heart"></i><span>Yêu
                                                                            thích</span></a>
                                                                <a title="Compare" href="#"><i
                                                                            class="ti-bar-chart-alt"></i><span>So
                                                                            Sánh</span></a>
                                                            </div>
                                                            <div class="product-action-2">
                                                                <a title="Thêm
                                                                        vào giỏ
                                                                        hàng" href="#">Thêm
                                                                        vào giỏ
                                                                        hàng</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="product-content">
                                                        <h3><a href="product-details.html">Awesome
                                                                    Cap For
                                                                    Women</a></h3>
                                                        <div class="product-price">
                                                            <span>$29.00</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xl-3 col-lg-4
                                                    col-md-4 col-12">
                                                <div class="single-product">
                                                    <div class="product-img">
                                                        <a href="product-details.html" id="imgsetting" style="background-image:
                                                                url(https://didongviet.vn//statics/category/iphone/iphone-12/12-Pro-Series.png)">
                                                            <img class="hover-img" id="imgsetting1" style="background-image:
                                                                    url(https://didongviet.vn//statics/category/iphone/iphone-12/12-Pro-Series.png)">
                                                        </a>
                                                        <div class="button-head">
                                                            <div class="product-action">
                                                                <a data-toggle="modal" data-target="#exampleModal" title="Quick
                                                                        View" href="#"><i
                                                                            class="ti-eye"></i><span>Cửa
                                                                            hàng</span></a>
                                                                <a title="Wishlist" href="#"><i
                                                                            class="ti-heart"></i><span>Yêu
                                                                            thích</span></a>
                                                                <a title="Compare" href="#"><i
                                                                            class="ti-bar-chart-alt"></i><span>So
                                                                            Sánh</span></a>
                                                            </div>
                                                            <div class="product-action-2">
                                                                <a title="Thêm
                                                                        vào giỏ
                                                                        hàng" href="#">Thêm
                                                                        vào giỏ
                                                                        hàng</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="product-content">
                                                        <h3><a href="product-details.html">Polo
                                                                    Dress For
                                                                    Women</a></h3>
                                                        <div class="product-price">
                                                            <span>$29.00</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xl-3 col-lg-4
                                                    col-md-4 col-12">
                                                <div class="single-product">
                                                    <div class="product-img">
                                                        <a href="product-details.html" id="imgsetting" style="background-image:
                                                                url(https://didongviet.vn//statics/category/iphone/iphone-12/12-Pro-Series.png)">
                                                            <img class="hover-img" id="imgsetting1" style="background-image:
                                                                    url(https://didongviet.vn//statics/category/iphone/iphone-12/12-Pro-Series.png)">
                                                        </a>
                                                        <div class="button-head">
                                                            <div class="product-action">
                                                                <a data-toggle="modal" data-target="#exampleModal" title="Quick
                                                                        View" href="#"><i
                                                                            class="ti-eye"></i><span>Cửa
                                                                            hàng</span></a>
                                                                <a title="Wishlist" href="#"><i
                                                                            class="ti-heart"></i><span>Yêu
                                                                            thích</span></a>
                                                                <a title="Compare" href="#"><i
                                                                            class="ti-bar-chart-alt"></i><span>So
                                                                            Sánh</span></a>
                                                            </div>
                                                            <div class="product-action-2">
                                                                <a title="Thêm
                                                                        vào giỏ
                                                                        hàng" href="#">Thêm
                                                                        vào giỏ
                                                                        hàng</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="product-content">
                                                        <h3><a href="product-details.html">Black
                                                                    Sunglass For
                                                                    Women</a></h3>
                                                        <div class="product-price">
                                                            <span class="old">$60.00</span>
                                                            <span>$50.00</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--/ End Single Tab -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- End Product Area -->
        <!-- Start Most Popular -->
        <div class="product-area most-popular section">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section-title">
                            <h2>Gợi ý hôm nay </h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="owl-carousel popular-slider">
                            <!-- Start Single Product -->
                            <div class="single-product">
                                <div class="product-img">
                                    <a href="product-details.html">
                                        <img class="default-img" th:src=@{images/noitroi1.png} alt="#">
                                        <img class="hover-img" th:src=@{images/noitroi1.png} alt="#">
                                        <span class="out-of-stock">Hot</span>
                                    </a>
                                    <div class="button-head">
                                        <div class="product-action">
                                            <a data-toggle="modal" data-target="#exampleModal" title="Quick
                                                    View" href="#"><i
                                                        class="ti-eye"></i><span>Quick
                                                        Shop</span></a>
                                            <a title="Wishlist" href="#"><i
                                                        class="ti-heart"></i><span>Add
                                                        to Wishlist</span></a>
                                            <a title="Compare" href="#"><i
                                                        class="ti-bar-chart-alt"></i><span>Add
                                                        to Compare</span></a>
                                        </div>
                                        <div class="product-action-2">
                                            <a title="Add to cart" href="#">Add
                                                    to cart</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-content">
                                    <h3><a href="product-details.html">Black
                                                Sunglass For Women</a></h3>
                                    <div class="product-price">
                                        <span class="old">$60.00</span>
                                        <span>$50.00</span>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Product -->
                            <!-- Start Single Product -->
                            <div class="single-product">
                                <div class="product-img">
                                    <a href="product-details.html">
                                        <img class="default-img" th:src=@{images/noitroi2.png} alt="#">
                                        <img class="hover-img" th:src=@{images/noitroi2.png} alt="#">
                                    </a>
                                    <div class="button-head">
                                        <div class="product-action">
                                            <a data-toggle="modal" data-target="#exampleModal" title="Quick
                                                    View" href="#"><i
                                                        class="ti-eye"></i><span>Quick
                                                        Shop</span></a>
                                            <a title="Wishlist" href="#"><i
                                                        class="ti-heart"></i><span>Add
                                                        to Wishlist</span></a>
                                            <a title="Compare" href="#"><i
                                                        class="ti-bar-chart-alt"></i><span>Add
                                                        to Compare</span></a>
                                        </div>
                                        <div class="product-action-2">
                                            <a title="Add to cart" href="#">Add
                                                    to cart</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-content">
                                    <h3><a href="product-details.html">Women
                                                Hot Collection</a></h3>
                                    <div class="product-price">
                                        <span>$50.00</span>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Product -->
                            <!-- Start Single Product -->
                            <div class="single-product">
                                <div class="product-img">
                                    <a href="product-details.html">
                                        <img class="default-img" src="https://via.placeholder.com/550x750" alt="#">
                                        <img class="hover-img" src="https://via.placeholder.com/550x750" alt="#">
                                        <span class="new">New</span>
                                    </a>
                                    <div class="button-head">
                                        <div class="product-action">
                                            <a data-toggle="modal" data-target="#exampleModal" title="Quick
                                                    View" href="#"><i
                                                        class="ti-eye"></i><span>Quick
                                                        Shop</span></a>
                                            <a title="Wishlist" href="#"><i
                                                        class="ti-heart"></i><span>Add
                                                        to Wishlist</span></a>
                                            <a title="Compare" href="#"><i
                                                        class="ti-bar-chart-alt"></i><span>Add
                                                        to Compare</span></a>
                                        </div>
                                        <div class="product-action-2">
                                            <a title="Add to cart" href="#">Add
                                                    to cart</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-content">
                                    <h3><a href="product-details.html">Awesome
                                                Pink Show</a></h3>
                                    <div class="product-price">
                                        <span>$50.00</span>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Product -->
                            <!-- Start Single Product -->
                            <div class="single-product">
                                <div class="product-img">
                                    <a href="product-details.html">
                                        <img class="default-img" src="https://via.placeholder.com/550x750" alt="#">
                                        <img class="hover-img" src="https://via.placeholder.com/550x750" alt="#">
                                    </a>
                                    <div class="button-head">
                                        <div class="product-action">
                                            <a data-toggle="modal" data-target="#exampleModal" title="Quick
                                                    View" href="#"><i
                                                        class="ti-eye"></i><span>Quick
                                                        Shop</span></a>
                                            <a title="Wishlist" href="#"><i
                                                        class="ti-heart"></i><span>Add
                                                        to Wishlist</span></a>
                                            <a title="Compare" href="#"><i
                                                        class="ti-bar-chart-alt"></i><span>Add
                                                        to Compare</span></a>
                                        </div>
                                        <div class="product-action-2">
                                            <a title="Add to cart" href="#">Add
                                                    to cart</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-content">
                                    <h3><a href="product-details.html">Awesome
                                                Bags Collection</a></h3>
                                    <div class="product-price">
                                        <span>$50.00</span>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Product -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Most Popular Area -->
        <div class="container">
            <img th:src=@{images/bannerend.png} alt="#">
        </div>

        <!-- Start Shop Home List  -->
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="shop-section-title">
                        <h1>Tất cả sản phẩm</h1>
                    </div>
                </div>
            </div>
        </div>
        <section class="shop-home-list section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-12" th:each="s :
                            ${list}">
                        <!-- Start Single List  -->
                        <div class="single-list">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-12">
                                    <div class="list-image overlay">
                                        <span style="display: inline-block;
                                                height: 100%; vertical-align:
                                                middle;"></span>
                                        <img src="https://res.cloudinary.com/surfnshop/image/upload/63e174ba-3e28-40a5-a9f0-18b65407cdda" style="vertical-align: middle;
                                                max-height: 100%; max-width:
                                                100%;">
                                        <a href="#" class="buy"><i class="fa
                                                    fa-shopping-bag"></i></a>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-12
                                        no-padding">
                                    <div class="content">
                                        <h4 class="title">
                                            <a th:href="@{'/detail/' +
                                                    ${s.id}}" th:text="${s.title}"></a>
                                        </h4>
                                        <p class="price with-discount" th:text="${s.price}"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Shop Home List  -->
    </div>
</body>

</html>