<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{user/layouts/main.html}">

<head>

</head>

<body>
    <style>
        .fb-comments,
        .fb-comments span,
        .fb-comments iframe {
            width: 100% !important;
        }
    </style>
    <div layout:fragment="section">

        <div class="container">
            <!--Main layout-->
            <main class="skin-light">
                <div class="container">
                    <!--Section: Block Content-->
                    <div th:each="s : ${object}">
                        <section class="mb-5 ">
                            <div class="row ">
                                <div class="col-md-6 mb-4 mb-md-0">
                                    <div class="mdb-lightbox ">
                                        <div class="row product-gallery mx-1 ">
                                            <div class="col-12 mb-0 ">
                                                <figure class="view overlay rounded z-depth-1 main-img " style="max-height: 450px; ">
                                                    <a href="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/15a.jpg " data-size="710x823 ">
                                                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/15a.jpg " class="img-fluid z-depth-1">
                                                    </a>
                                                </figure>
                                                <figure class="view overlay rounded z-depth-1 " style="visibility: hidden; ">
                                                    <a href="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/12a.jpg " data-size="710x823 ">
                                                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/12a.jpg " class="img-fluid z-depth-1 ">
                                                    </a>
                                                </figure>
                                                <figure class="view overlay rounded z-depth-1 " style="visibility: hidden; ">
                                                    <a href="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/13a.jpg " data-size="710x823 ">
                                                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/13a.jpg " class="img-fluid z-depth-1 ">
                                                    </a>
                                                </figure>
                                                <figure class="view overlay rounded z-depth-1 " style="visibility: hidden; ">
                                                    <a href="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/14a.jpg " data-size="710x823 ">
                                                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/14a.jpg " class="img-fluid z-depth-1 ">
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-12 ">
                                                <div class="row ">
                                                    <div class="col-3 ">
                                                        <div class="view overlay rounded z-depth-1 gallery-item hoverable ">
                                                            <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/12a.jpg " class="img-fluid ">
                                                            <div class="mask rgba-white-slight "></div>
                                                        </div>
                                                    </div>
                                                    <div class="col-3 ">
                                                        <div class="view overlay rounded z-depth-1 gallery-item hoverable ">
                                                            <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/13a.jpg " class="img-fluid ">
                                                            <div class="mask rgba-white-slight "></div>
                                                        </div>
                                                    </div>
                                                    <div class="col-3 ">
                                                        <div class="view overlay rounded z-depth-1 gallery-item hoverable ">
                                                            <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/14a.jpg " class="img-fluid ">
                                                            <div class="mask rgba-white-slight "></div>
                                                        </div>
                                                    </div>
                                                    <div class="col-3 ">
                                                        <div class="view overlay rounded z-depth-1 gallery-item hoverable ">
                                                            <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/15a.jpg " class="img-fluid ">
                                                            <div class="mask rgba-white-slight "></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 ">
                                    <h5 style="font-size: 30px;font-weight: bold;font-family: Calibri; " th:text="${s.title} "></h5>
                                    <p class="mb-2 text-muted text-uppercase small " th:text="${s.product.brand.name} "></p>
                                    <p><span class="mr-1 "><strong style="font-size: 23px; font-family: Calibri; " th:text="${s.price} "></strong></span></p>
                                    <p class="pt-1 " th:text="${s.des}"></p>
                                    <hr>
                                    <div class="table-responsive mb-2 ">
                                        <table class="table table-sm table-borderless ">
                                            <tbody>
                                                <tr>
                                                    <td class="pl-0 pb-0 w-25 ">Số Lượng</td>
                                                    <td class="pb-0 ">Chọn kích cỡ</td>
                                                </tr>
                                                <tr>
                                                    <td class="pl-0 ">
                                                        <div class="def-number-input number-input safari_only mb-0 ">
                                                            <button onclick="this.parentNode.querySelector( 'input[type=number]').stepDown() " class="minus "></button>
                                                            <input class="quantity " min="0 " name="quantity " value="1 " type="number ">
                                                            <button onclick="this.parentNode.querySelector( 'input[type=number]').stepUp() " class="plus "></button>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="mt-1 ">
                                                            <div class="form-check form-check-inline pl-0 ">
                                                                <input type="radio " class="form-check-input " id="small " name="materialExampleRadios " checked>
                                                                <label class="form-check-label small text-uppercase card-link-secondary " for="small ">Nhỏ</label>
                                                            </div>
                                                            <div class="form-check form-check-inline pl-0 ">
                                                                <input type="radio " class="form-check-input " id="medium " name="materialExampleRadios ">
                                                                <label class="form-check-label small text-uppercase card-link-secondary " for="medium ">Vừa</label>
                                                            </div>
                                                            <div class="form-check form-check-inline pl-0 ">
                                                                <input type="radio " class="form-check-input " id="large " name="materialExampleRadios ">
                                                                <label class="form-check-label small text-uppercase card-link-secondary " for="large ">Lớn</label>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <button type="button " class="btn btn-primary btn-md mr-1 mb-2 ">Đặt hàng ngay</button>
                                    <button type="button " class="btn btn-light btn-md mr-1 mb-2 bnt-cart"><i class=" fas fa-shopping-cart pr-2 "></i>Thêm vào giỏ hàng</button>
                                </div>
                            </div>
                        </section>
                    </div>
                    <!--Section: Block Content-->
                    <hr>
                    <div>
                        <div class="fb-comments " data-href="https://developers.facebook.com/docs/plugins/comments?id=co-the-xu-ly-hinh-su-tiep-vien-hang-khong-lam-lay-lan-ncov " data-numposts="5 " data-width="100% "></div>
                        <div id="fb-root "></div>
                        <script async defer crossorigin="anonymous " src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v9.0&appId=430340227966975&autoLogAppEvents=1 " nonce="ivFHFpwA "></script>
                    </div>
                </div>
            </main>
            <!--Main layout-->
        </div>
    </div>
</body>

</html>