<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{user/layouts/main.html}">

<head>

</head>

<body>
    <div layout:fragment="section">
        <div class="container">
            <!--Main layout-->
            <main class="skin-light">
                <div class="container">
                    <!--Section: Block Content-->
                    <section class="mb-5">
                        <div class="row">
                            <div class="col-md-6 mb-4 mb-md-0">
                                <div class="mdb-lightbox">
                                    <div class="row product-gallery mx-1">
                                        <div class="col-12 mb-0">
                                            <figure class="view overlay rounded z-depth-1 main-img" style="max-height: 450px;">
                                                <a href="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/15a.jpg" data-size="710x823">
                                                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/15a.jpg" class="img-fluid z-depth-1" style="margin-top: -90px;">
                                                </a>
                                            </figure>
                                            <figure class="view overlay rounded z-depth-1" style="visibility: hidden;">
                                                <a href="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/12a.jpg" data-size="710x823">
                                                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/12a.jpg" class="img-fluid z-depth-1">
                                                </a>
                                            </figure>
                                            <figure class="view overlay rounded z-depth-1" style="visibility: hidden;">
                                                <a href="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/13a.jpg" data-size="710x823">
                                                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/13a.jpg" class="img-fluid z-depth-1">
                                                </a>
                                            </figure>
                                            <figure class="view overlay rounded z-depth-1" style="visibility: hidden;">
                                                <a href="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/14a.jpg" data-size="710x823">
                                                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/14a.jpg" class="img-fluid z-depth-1">
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-12">
                                            <div class="row">
                                                <div class="col-3">
                                                    <div class="view overlay rounded z-depth-1 gallery-item hoverable">
                                                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/12a.jpg" class="img-fluid">
                                                        <div class="mask rgba-white-slight"></div>
                                                    </div>
                                                </div>
                                                <div class="col-3">
                                                    <div class="view overlay rounded z-depth-1 gallery-item hoverable">
                                                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/13a.jpg" class="img-fluid">
                                                        <div class="mask rgba-white-slight"></div>
                                                    </div>
                                                </div>
                                                <div class="col-3">
                                                    <div class="view overlay rounded z-depth-1 gallery-item hoverable">
                                                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/14a.jpg" class="img-fluid">
                                                        <div class="mask rgba-white-slight"></div>
                                                    </div>
                                                </div>
                                                <div class="col-3">
                                                    <div class="view overlay rounded z-depth-1 gallery-item hoverable">
                                                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/15a.jpg" class="img-fluid">
                                                        <div class="mask rgba-white-slight"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                            <div class="col-md-6">

                                <h5 style="font-size: 30px;font-weight: bold;font-family: Calibri;">Áo khoác nam cao cấp</h5>
                                <p class="mb-2 text-muted text-uppercase small">Thời trang nam</p>
                                <p><span class="mr-1"><strong style="font-size: 23px;
                                    font-family: Calibri;">490.000 VNĐ</strong></span></p>
                                <p class="pt-1">Chất liệu cao cấp, thoải mái vừa vặn đủ mọi loại kích cỡ.
                                </p>
                                <hr>
                                <div class="table-responsive mb-2">
                                    <table class="table table-sm table-borderless">
                                        <tbody>
                                            <tr>
                                                <td class="pl-0 pb-0 w-25">Số Lượng</td>
                                                <td class="pb-0">Chọn kích cỡ</td>
                                            </tr>
                                            <tr>
                                                <td class="pl-0">
                                                    <div class="def-number-input number-input safari_only mb-0">
                                                        <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()" class="minus"></button>
                                                        <input class="quantity" min="0" name="quantity" value="1" type="number">
                                                        <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus"></button>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="mt-1">
                                                        <div class="form-check form-check-inline pl-0">
                                                            <input type="radio" class="form-check-input" id="small" name="materialExampleRadios" checked>
                                                            <label class="form-check-label small text-uppercase card-link-secondary" for="small">Nhỏ</label>
                                                        </div>
                                                        <div class="form-check form-check-inline pl-0">
                                                            <input type="radio" class="form-check-input" id="medium" name="materialExampleRadios">
                                                            <label class="form-check-label small text-uppercase card-link-secondary" for="medium">Vừa</label>
                                                        </div>
                                                        <div class="form-check form-check-inline pl-0">
                                                            <input type="radio" class="form-check-input" id="large" name="materialExampleRadios">
                                                            <label class="form-check-label small text-uppercase card-link-secondary" for="large">Lớn</label>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <button type="button" class="btn btn-primary btn-md mr-1 mb-2">Đặt hàng ngay</button>
                                <button type="button" class="btn btn-light btn-md mr-1 mb-2"><i class="fas fa-shopping-cart pr-2"></i>Thêm vào giỏ hàng</button>
                            </div>
                        </div>
                    </section>
                    <!--Section: Block Content-->
                    <hr>
                    <!--Section: Block Content-->
                    <section class="text-center">

                        <h4 class="text-center my-5"><strong style="font-size: 32px;font-family: calibri;font-weight: bold;">Sản phẩm tương tự</strong></h4>

                        <!-- Grid row -->
                        <div class="row">

                            <!-- Grid column -->
                            <div class="col-md-6 col-lg-3 mb-5">

                                <!-- Card -->
                                <div class="">

                                    <div class="view zoom overlay z-depth-2 rounded">
                                        <img class="img-fluid w-100" src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/12a.jpg" alt="Sample">
                                        <a href="#!">
                                            <div class="mask">
                                                <img class="img-fluid w-100" src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/12.jpg">
                                                <div class="mask rgba-black-slight"></div>
                                            </div>
                                        </a>
                                    </div>

                                    <div class="pt-4">

                                        <h5>Blue denim shirt</h5>
                                        <p><span><strong>$17.99</strong></span></p>

                                    </div>

                                </div>
                                <!-- Card -->

                            </div>
                            <!-- Grid column -->

                            <!-- Grid column -->
                            <div class="col-md-6 col-lg-3 mb-5">

                                <!-- Card -->
                                <div class="">

                                    <div class="view zoom overlay z-depth-2 rounded">
                                        <img class="img-fluid w-100" src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/13a.jpg" alt="Sample">
                                        <a href="#!">
                                            <div class="mask">
                                                <img class="img-fluid w-100" src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/13.jpg">
                                                <div class="mask rgba-black-slight"></div>
                                            </div>
                                        </a>
                                    </div>

                                    <div class="pt-4">

                                        <h5>Red hoodie</h5>
                                        <p><span><strong>$35.99</strong></span></p>

                                    </div>

                                </div>
                                <!-- Card -->

                            </div>
                            <!-- Grid column -->

                            <!-- Grid column -->
                            <div class="col-md-6 col-lg-3 mb-5">

                                <!-- Card -->
                                <div class="">

                                    <div class="view zoom overlay z-depth-2 rounded">
                                        <img class="img-fluid w-100" src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/14a.jpg" alt="Sample">
                                        <h4 class="mb-0"><span class="badge badge-primary badge-pill badge-news">Sale</span></h4>
                                        <a href="#!">
                                            <div class="mask">
                                                <img class="img-fluid w-100" src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/14.jpg">
                                                <div class="mask rgba-black-slight"></div>
                                            </div>
                                        </a>
                                    </div>

                                    <div class="pt-4">

                                        <h5>Grey sweater</h5>
                                        <p><span class="text-danger mr-1"><strong>$21.99</strong></span><span class="text-grey"><strong><s>$36.99</s></strong></span></p>

                                    </div>

                                </div>
                                <!-- Card -->

                            </div>
                            <!-- Grid column -->

                            <!-- Grid column -->
                            <div class="col-md-6 col-lg-3 mb-5">

                                <!-- Card -->
                                <div class="">

                                    <div class="view zoom overlay z-depth-2 rounded">
                                        <img class="img-fluid w-100" src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/15a.jpg" alt="Sample">
                                        <a href="#!">
                                            <div class="mask">
                                                <img class="img-fluid w-100" src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/14.jpg">
                                                <div class="mask rgba-black-slight"></div>
                                            </div>
                                        </a>
                                    </div>

                                    <div class="pt-4">

                                        <h5>Black denim jacket</h5>
                                        <p><strong>$99.99</strong></p>

                                    </div>

                                </div>
                                <!-- Card -->

                            </div>
                            <!-- Grid column -->

                        </div>
                        <!-- Grid row -->

                    </section>
                    <!--Section: Block Content-->

                </div>
            </main>
            <!--Main layout-->
        </div>
    </div>
</body>

</html>