<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{user/layouts/list.html}">

<head>

</head>

<body>
    <div layout:fragment="list">
        <!-- Start Product Area -->
        <div class="product-area section">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section-title">
                            <h2>Mặt hàng bán chạy</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="product-info">
                            <div class="nav-main">
                                <!-- Tab Nav -->
                                <ul class="nav nav-tabs" id="myTab" role="tablist">
                                    <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#man" role="tab">Điện tử</a></li>
                                    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#women" role="tab">Gia dụng</a></li>
                                    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#kids" role="tab">Shop Nam</a></li>
                                    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#accessories" role="tab">Shop Nữ</a></li>
                                    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#essential" role="tab">Phụ kiện</a></li>
                                    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#prices" role="tab">Trẻ em</a></li>
                                </ul>
                                <!--/ End Tab Nav -->
                            </div>
                            <div class="tab-content" id="myTabContent">
                                <!-- Start Single Tab -->
                                <div class="tab-pane fade show active" id="man" role="tabpanel">
                                    <div class="tab-single">
                                        <div class="row">
                                            <div class="col-xl-3 col-lg-4 col-md-4 col-12">
                                                <div class="single-product">
                                                    <div class="product-img">
                                                        <a href="product-details.html">
                                                            <img class="default-img" src="https://didongviet.vn/pub/media/catalog/product//i/p/iphone-11-didongviet_3_8.jpg" alt="#">
                                                            <img class="hover-img" src="https://didongviet.vn/pub/media/catalog/product//i/p/iphone-11-didongviet_3_8.jpg" alt="#">
                                                        </a>
                                                        <div class="button-head">
                                                            <div class="product-action">
                                                                <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Cửa hàng</span></a>
                                                                <a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Yêu thích</span></a>
                                                                <a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>So Sánh</span></a>
                                                            </div>
                                                            <div class="product-action-2">
                                                                <a title="Thêm vào giỏ hàng" href="#">Thêm vào giỏ hàng</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="product-content">
                                                        <h3><a href="product-details.html">IPhone 11</a></h3>
                                                        <div class="product-price">
                                                            <span>16,900,000 VNĐ</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xl-3 col-lg-4 col-md-4 col-12">
                                                <div class="single-product">
                                                    <div class="product-img">
                                                        <a href="product-details.html">
                                                            <img class="default-img" src="https://didongviet.vn//statics/category/iphone/iphone-12/12-Pro-Series.png" alt="#">
                                                            <img class="hover-img" src="https://didongviet.vn//statics/category/iphone/iphone-12/12-Pro-Series.png" alt="#">
                                                        </a>
                                                        <div class="button-head">
                                                            <div class="product-action">
                                                                <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Cửa hàng</span></a>
                                                                <a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Yêu thích</span></a>
                                                                <a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>So Sánh</span></a>
                                                            </div>
                                                            <div class="product-action-2">
                                                                <a title="Thêm vào giỏ hàng" href="#">Thêm vào giỏ hàng</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="product-content">
                                                        <h3><a href="product-details.html">IPhone 12</a></h3>
                                                        <div class="product-price">
                                                            <span>21,900,000 VNĐ</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xl-3 col-lg-4 col-md-4 col-12">
                                                <div class="single-product">
                                                    <div class="product-img">
                                                        <a href="product-details.html">
                                                            <img class="default-img" src="https://cdn.tgdd.vn/Products/Images/42/210654/iphone-11-pro-max-512gb-gold-600x600.jpg" alt="#">
                                                            <img class="hover-img" src="https://cdn.tgdd.vn/Products/Images/42/210654/iphone-11-pro-max-512gb-gold-600x600.jpg" alt="#">
                                                        </a>
                                                        <div class="button-head">
                                                            <div class="product-action">
                                                                <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Cửa hàng</span></a>
                                                                <a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Yêu thích</span></a>
                                                                <a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>So Sánh</span></a>
                                                            </div>
                                                            <div class="product-action-2">
                                                                <a title="Thêm vào giỏ hàng" href="#">Thêm vào giỏ hàng</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="product-content">
                                                        <h3><a href="product-details.html">Awesome Bags Collection</a></h3>
                                                        <div class="product-price">
                                                            <span>$29.00</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xl-3 col-lg-4 col-md-4 col-12">
                                                <div class="single-product">
                                                    <div class="product-img">
                                                        <a href="product-details.html">
                                                            <img class="default-img" src="https://cdn.tgdd.vn/Products/Images/42/210654/iphone-11-pro-max-512gb-gold-600x600.jpg" alt="#">
                                                            <img class="hover-img" src="https://cdn.tgdd.vn/Products/Images/42/210654/iphone-11-pro-max-512gb-gold-600x600.jpg" alt="#">
                                                            <span class="new">New</span>
                                                        </a>
                                                        <div class="button-head">
                                                            <div class="product-action">
                                                                <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Cửa hàng</span></a>
                                                                <a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Yêu thích</span></a>
                                                                <a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>So Sánh</span></a>
                                                            </div>
                                                            <div class="product-action-2">
                                                                <a title="Thêm vào giỏ hàng" href="#">Thêm vào giỏ hàng</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="product-content">
                                                        <h3><a href="product-details.html">Women Pant Collectons</a></h3>
                                                        <div class="product-price">
                                                            <span>$29.00</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xl-3 col-lg-4 col-md-4 col-12">
                                                <div class="single-product">
                                                    <div class="product-img">
                                                        <a href="product-details.html">
                                                            <img class="default-img" src="https://www.laptopvip.vn/images/detailed/106/new_microsoft_surface_laptop_3_01.jpg" alt="#">
                                                            <img class="hover-img" src="https://www.laptopvip.vn/images/detailed/106/new_microsoft_surface_laptop_3_01.jpg" alt="#">
                                                        </a>
                                                        <div class="button-head">
                                                            <div class="product-action">
                                                                <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Cửa hàng</span></a>
                                                                <a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Yêu thích</span></a>
                                                                <a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>So Sánh</span></a>
                                                            </div>
                                                            <div class="product-action-2">
                                                                <a title="Thêm vào giỏ hàng" href="#">Thêm vào giỏ hàng</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="product-content">
                                                        <h3><a href="product-details.html">Awesome Bags Collection</a></h3>
                                                        <div class="product-price">
                                                            <span>$29.00</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xl-3 col-lg-4 col-md-4 col-12">
                                                <div class="single-product">
                                                    <div class="product-img">
                                                        <a href="product-details.html">
                                                            <img class="default-img" src="https://images-na.ssl-images-amazon.com/images/I/71%2BEwud0jCL._AC_SX679_.jpg" alt="#">
                                                            <img class="hover-img" src="https://images-na.ssl-images-amazon.com/images/I/71%2BEwud0jCL._AC_SX679_.jpg" alt="#">
                                                            <span class="price-dec">30% Off</span>
                                                        </a>
                                                        <div class="button-head">
                                                            <div class="product-action">
                                                                <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Cửa hàng</span></a>
                                                                <a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Yêu thích</span></a>
                                                                <a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>So Sánh</span></a>
                                                            </div>
                                                            <div class="product-action-2">
                                                                <a title="Thêm vào giỏ hàng" href="#">Thêm vào giỏ hàng</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="product-content">
                                                        <h3><a href="product-details.html">Awesome Cap For Women</a></h3>
                                                        <div class="product-price">
                                                            <span>$29.00</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xl-3 col-lg-4 col-md-4 col-12">
                                                <div class="single-product">
                                                    <div class="product-img">
                                                        <a href="product-details.html">
                                                            <img class="default-img" src="https://phongvu.vn/cong-nghe/wp-content/uploads/2020/09/laptop-tot-nhat-2020-phong-vu-7.jpg" alt="#">
                                                            <img class="hover-img" src="https://phongvu.vn/cong-nghe/wp-content/uploads/2020/09/laptop-tot-nhat-2020-phong-vu-7.jpg" alt="#">
                                                        </a>
                                                        <div class="button-head">
                                                            <div class="product-action">
                                                                <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Cửa hàng</span></a>
                                                                <a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Yêu thích</span></a>
                                                                <a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>So Sánh</span></a>
                                                            </div>
                                                            <div class="product-action-2">
                                                                <a title="Thêm vào giỏ hàng" href="#">Thêm vào giỏ hàng</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="product-content">
                                                        <h3><a href="product-details.html">Polo Dress For Women</a></h3>
                                                        <div class="product-price">
                                                            <span>$29.00</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xl-3 col-lg-4 col-md-4 col-12">
                                                <div class="single-product">
                                                    <div class="product-img">
                                                        <a href="product-details.html">
                                                            <img class="default-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQKiJvKDAmwKdDPq36UyjP-NF_uo7DyPq862Q&usqp=CAU" alt="#">
                                                            <img class="hover-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQKiJvKDAmwKdDPq36UyjP-NF_uo7DyPq862Q&usqp=CAU" alt="#">
                                                            <span class="out-of-stock">Hot</span>
                                                        </a>
                                                        <div class="button-head">
                                                            <div class="product-action">
                                                                <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Cửa hàng</span></a>
                                                                <a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Yêu thích</span></a>
                                                                <a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>So Sánh</span></a>
                                                            </div>
                                                            <div class="product-action-2">
                                                                <a title="Thêm vào giỏ hàng" href="#">Thêm vào giỏ hàng</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="product-content">
                                                        <h3><a href="product-details.html">Black Sunglass For Women</a></h3>
                                                        <div class="product-price">
                                                            <span class="old">$60.00</span>
                                                            <span>$50.00</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--/ End Single Tab -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Product Area -->

    </div>
</body>

</html>