<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{admin/layouts/list.html}">

<head>
    <title>Title</title>
</head>

<body>
    <div layout:fragment="list_form">
        <div class="col-sm-12" style="margin-top: 20px;">
            <form action="">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">BẢNG DANH SÁCH NGƯỜI DÙNG</h5>
                        <table class="table table-bordered">
                            <tbody>
                                <th>ID Người dùng</th>
                                <th>Vai trò</th>
                                <th>Tên người dùng</th>
                                <th>Số điện thoại</th>
                                <th>Địa chỉ</th>
                                <th>Email</th>
                                <th>Avatar</th>
                                <th>Hành động</th>
                            </tbody>
                            <tbody>
                                <td>USER01</td>
                                <td>Quản lí</td>
                                <td>Phạm Ngọc Tùng</td>
                                <td>0941687974</td>
                                <td>Đà Nẵng</td>
                                <td>tungpham2127@gmail.com</td>
                                <td>avatar.jpg</td>
                                <td><button type="button" class="btn btn-primary">Sửa</button>
                                    <button type="button" class="btn btn-danger">Xóa</button></td>
                            </tbody>
                            <tbody>
                                <td>USER01</td>
                                <td>Quản lí</td>
                                <td>Phạm Ngọc Tùng</td>
                                <td>0941687974</td>
                                <td>Đà Nẵng</td>
                                <td>tungpham2127@gmail.com</td>
                                <td>avatar.jpg</td>
                                <td><button type="button" class="btn btn-primary">Sửa</button>
                                    <button type="button" class="btn btn-danger">Xóa</button></td>
                            </tbody>
                            <tbody>
                                <td>USER01</td>
                                <td>Quản lí</td>
                                <td>Phạm Ngọc Tùng</td>
                                <td>0941687974</td>
                                <td>Đà Nẵng</td>
                                <td>tungpham2127@gmail.com</td>
                                <td>avatar.jpg</td>
                                <td><button type="button" class="btn btn-primary">Sửa</button>
                                    <button type="button" class="btn btn-danger">Xóa</button></td>
                            </tbody>
                            <tbody>
                                <td>USER01</td>
                                <td>Quản lí</td>
                                <td>Phạm Ngọc Tùng</td>
                                <td>0941687974</td>
                                <td>Đà Nẵng</td>
                                <td>tungpham2127@gmail.com</td>
                                <td>avatar.jpg</td>
                                <td><button type="button" class="btn btn-primary">Sửa</button>
                                    <button type="button" class="btn btn-danger">Xóa</button></td>
                            </tbody>
                        </table>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>