<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{module/blank_layout.html}">

<head>

    <!-- Add division to head fragment -->
    <div layout:fragment="head">

        <title>Error</title>
        <style>
            body {
                background: #dedede;
            }

            .page-wrap {
                min-height: 100vh;
            }
        </style>

    </div>

</head>

<body>

    <!-- Add division to body fragment -->
    <div layout:fragment="body">

        <div class="page-wrap d-flex flex-row align-items-center">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-12 text-center">
                        <span class="display-1 d-block" th:text="${res.errorCode}"></span>
                        <div class="mb-4 lead" >
                            <b th:text="${res.message}"></b>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</body>

</html>