<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{admin/layouts/list.html}">

<head>
    <title>Title</title>
</head>

<body>

    <div layout:fragment="list_form">
        <a th:href="@{'/admin/items/add'}" style="float: right; color: white; margin-right: 70px; border-radius: 10px;"
            class="btn btn-primary">Thêm
            mới</a>
        <form action="">
            <input type="text" placeholder="Search . . ." class="search-form__input" />
            <input style="border-radius: 10px; width: 90px;" class="btn btn-secondary" type="submit" name=""
                value="Tìm kiếm" />
        </form>
        <hr>
        <table class="table table-light">
            <tbody>
                <th>Mã Mặt hàng</th>
                <th>Tên sản phẩm</th>
                <th>Tiêu đề</th>
                <th>Miêu tả</th>
                <th>Giá bán</th>
                <th>Số lượng</th>
                <th>Cửa hàng</th>
                <th>Hành động</th>
            </tbody>
            <tbody th:each="i : ${res.pagedList}">
                <td th:text="${i.id}"></td>
                <td>
                    <a style="text-decoration: none; color: black;" th:href="@{'/admin/items/' + ${i.id}}"
                        th:text="${i.product.name}"></a>
                </td>
                <td th:text="${i.title}"></td>
                <td th:text="${i.product.des}"></td>
                <td th:text="${i.price}"></td>
                <td th:text="${i.quantity}"></td>
                <td th:text="${i.shop.name}"></td>
                <td>
                    <!-- Button trigger modal -->
                    <a th:href="@{'/admin/items/edit/' + ${i.id}}" style="border-radius: 10px; color: white;"
                        class="btn btn-primary">Sửa</a>
                    <a style="border-radius: 10px; color: white;" type="button" class="btn btn-danger"
                        data-toggle="modal" data-target="#exampleModal">
                        Xóa
                    </a>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-body">
                                    Bạn có chắc muốn xóa
                                </div>
                                <div class="modal-footer">
                                    <button style="border-radius: 10px;" type="button" class="btn btn-secondary"
                                        data-dismiss="modal">Hủy</button>
                                    <a th:href="@{'/admin/items/delete/' + ${i.id}}"
                                        style="border-radius: 10px; color: white;" type="button"
                                        class="btn btn-danger">Xóa</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tbody>
        </table>

    </div>
</body>

</html>