<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{admin/layouts/add_or_edit.html}">

<head>

</head>

<body>

    <!-- Add division to add-or-edit form fragment -->
    <div layout:fragment="addOrEdit_form">

        <form class="form-group" th:action="@{/admin/categories/save}" method="POST" th:object="${object}">
            <div th:if="${res.isEdit}">
                <label for="my-input">ID</label>
                <input id="my-input" class="form-control" disabled type="text" th:value="*{id}">
                <input type="hidden" th:field="*{id}">
            </div>
            <label for="my-input">Tên danh mục</label>
            <input id="my-input" class="form-control" type="text" th:field="*{name}">

            <button type="submit" class="btn btn-primary">Lưu</button>
        </form>

    </div>

</body>

</html>