<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{admin/layouts/list.html}">

<head>
</head>

<body>
    <div layout:fragment="list_form">

        <table class="table table-bordered">
            <tbody>
                <th>ID</th>
                <th>Tên danh mục</th>
                <th>Hành động</th>
            </tbody>
            <tbody th:each="c : ${res.categoryList}">
                <td th:text="${c.id}"></td>
                <td th:text="${c.categoryName}"></td>
                <td>
                    <button type="button" class="btn btn-primary">Sửa</button>
                    <button type="button" class="btn btn-danger">Xóa</button>
                </td>
            </tbody>
        </table>
    </div>
</body>

</html>